{% use 'partials/_blocks.twig' %}

{% macro footer_content(group) %}
	{% setcontent blcks = "blocks" where { groups: group } %}
	
	{% for blck in blcks %}
		{% with { 
			blk: blck, 
			title_class: 'is-5' 
		}%}
		<div class="shpr-footer-block is-pulled-left">
			{{ block('content_block') }}
		</div>
		{%- endwith -%}
	{% endfor %}

{% endmacro %}


{% macro footer_menu(identifier, template = 'partials/_sub_menu_social.twig') %}
	{{ menu(
		identifier,
		template,
		params = { extraClass: 'is-ultra-large', extraClassIcon: 'fa-3x'}
	) }}
{% endmacro %}

{% from _self import footer_content %}
{% from _self import footer_menu %}

{# Footer #}
<footer id="contact" role="contentinfo">
	<div class="section is-medium shpr-section is-section-light">
		<div class="container">
			<div class="is-clearfix" role="navigation" aria-label="footer navigation">
				{{ footer_content('footer-left') }}
				{{ footer_content('footer-right') }}
			</div>
			{{ widgets('footer') }}
		</div>
	</div>
	<div class="section shpr-section is-section-white has-text-centered copyright">
		<div class="container">
			{% setcontent copyright = 'block/copyright' %}
			{% if copyright.content is not empty %}
				{{ copyright.content }}
			{% endif %}
		</div>
	</div>
</footer>
