{% use "partials/_blocks.twig" %}

{# Lazy Image #}
{# image, title #}
{% macro lazyimage(src, title, width = "100%", height = "auto", extraClass = "") %}
	<img class="lazy {{ extraClass }}" width="{{ width}}" height="{{ height }}" data-src="{{ src|default('') }}" alt="{{ title|default('') }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
{% endmacro %}

{# Generate stylesheet entry #}
{% macro stylesheet(style) %}
	{# Defer loading of non-critical styles #}
	<link rel="preload" href="{{ asset(style, 'theme') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript> 
		<link rel="stylesheet" href="{{ asset(style, 'theme') }}">
	</noscript>
{% endmacro %}

{# Generate scripts entry #}
{% macro script(script) %}
	<script deffer src="{{ asset(script, 'theme') }}"></script>
{% endmacro %}

{# Section macro #}
{% macro section(groupName, isParalax = false, sectionColorsList = ['light', 'primary', 'dark', 'primary'] ) %}
	{# Get All blocks by homepage group #}
	{% setcontent sections = "blocks" where { groups: groupName } %}

	{# loop over the section with homepage group #}
	{% for section in sections %}
		{# set different color for each section #}
		{% set currentColor = sectionColorsList[(loop.index - 1) % sectionColorsList|length] %}
		{% if section.image is not empty %}
			{% set bgImages = section.image|thumbnail('index-small') ~ ';' ~ section.image|image  %}
		{% endif %}
		<div class="shpr-lazy-background" {% if section.image is not empty %} data-background-image="{{ bgImages|default() }}" {% endif %}>
			
			{# Adding empty elements to handle dynamic background styling - see lazy-section-backgorund.js #}
			{% if isParalax and loop.index > 1 and section.image is not empty %}
				<div class="shpr-background shpr-background-paralax"></div>
			{% endif %}	
			<div class="shpr-background shpr-background-overlay"></div>

			{# Actual section with content #}
			<section class="section is-medium shpr-section is-section-{{ currentColor }}">
				<div class="shpr-section-anchor" id="{{ section.slug }}"></div>
				<div class="container">
					{% with { blk: section }%}
					{{ block('content_block') }}
					{%- endwith -%}	
				</div>
			</section>
		</div>

	{% endfor %}
{% endmacro %}