{% block menu %}

	{% for item in menu %}

		{% if item.submenu is defined %}

			<div class="navbar-item has-dropdown is-hoverable is-dark">
				<span class="navbar-link is-arrowless">
					{{ item.label }}
				</span>

				<ul class="navbar-dropdown">
					{% for submenu in item.submenu %}
						<li class="navbar-item">
							<a href="{{ submenu.link }}">{{ submenu.label }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

		{% else %}

			<li class="navbar-item">
				<a href="{{ item.link }}">{{ item.label }}</a>
			</li>

		{% endif %}

	{% endfor %}

{% endblock %}
