{% use 'twig/partials/_blocks.twig' %}

{# Footer Content block #}
{% macro footer_content(groupName) %}

	{% if groupname|default is not empty %}
	
		{% set contentBlockName = config.get('theme/section/contentblock_name') %}
		{% set taxonomyName = config.get('theme/section/taxonomy_name') %}
		{% setcontent sections = blocls where { taxonomyName: groupName } %}
		
		{% if sections|length > 3 %}
			
			<div class="shpr-footer-block column">
				{% for i in range(0, sections|length, 3) %}
					{% set section = sections[i] %}
					{% with { 'section': section, 'title_class': 'is-5' }%}
						{{ block('section_content') }}
					{%- endwith -%}
				{% endfor %}
			</div>

			<div class="shpr-footer-block column">
				{% for i in range(1, sections|length, 3) %}	
					{% set section = sections[i] %}
					{% with { 'section': section, 'title_class': 'is-5' }%}
						{{ block('section_content') }}
					{%- endwith -%}
				{% endfor %}
			</div>

			<div class="shpr-footer-block column">
				{% for i in range(2, sections|length, 3) %}
					{% set section = sections[i] %}
					{% with { 'section': section, 'title_class': 'is-5' }%}
						{{ block('section_content') }}
					{%- endwith -%}
				{% endfor %}
			</div>
		{% else %}
			{% for section in sections %}
				<div class="shpr-footer-block column">
					{% with { 'section': section, 'title_class': 'is-5' }%}
						{{ block('section_content') }}
					{%- endwith -%}
				</div>
			{% endfor %}
		{% endif %}
	{% endif %}
{% endmacro %}

{# Footer menu / icons #}
{% macro footer_menu(identifier, template = 'twig/partials/_sub_menu_social.twig') %}
	{{ menu(
		identifier,
		template,
		{ 'extraClass': 'is-ultra-large', 'extraClassIcon': 'fa-3x' }
	) }}
{% endmacro %}

{% from _self import footer_content, footer_menu %}

{# Footer #}
<footer id="contact" role="contentinfo">
	<div class="section is-medium shpr-section {{ theme.layout.class.footer|default('is-section-dark') }}">
		<div class="container">
			<div class="columns" role="navigation" aria-label="footer navigation">
				{# {{ footer_content('footer') }} #}
			</div>
			{{ widgets('footer') }}
		</div>
	</div>
	<div class="section shpr-section copyright {{ theme.layout.class.copyright|default('is-section-primary') }}">
		<div class="container">
			{% setcontent copyright = 'block/copyright' %}
			{% if copyright.content|default('') is not empty %}
				{{ copyright.content }}
			{% else %}
				{{ __("SHato's Bolt Webpack Boilerplate Theme &copy; %date% All rights reserved.", { '%date%': "now"|date("Y") }) }}
			{% endif %}
		</div>
	</div>
</footer>