{# Thumbnail image by the thumbnail alias defined in theme.yaml #}
{# src, thumbnailAlias#}
{% macro thumbimage(image, thumbnailAlias) %}
{% apply spaceless %}
	{% set alias = config.get('theme/thumbnails/aliases/' ~ thumbnailAlias)|default %}
	{%- if image is empty %}
		{# empty thumbnail #}
	{% elseif alias is not empty %}
		{{ image|thumbnail(alias.size[0]|default(100), alias.size[1]|default(100), alias.fit|default('c')) }}
	{% else %}
		{{ image|thumbnail }}
	{% endif -%}
{% endapply %}
{% endmacro %}


{# Thumbnail image by the thumbnail alias defined in theme.yaml #}
{# src, thumbnailAlias#}
{% macro progressive_thumbimage(image, thumbnailAlias) %}
{% apply spaceless %}
	{% set alias = config.get('theme/thumbnails/aliases/' ~ thumbnailAlias)|default %}
	{%- if image is empty %}
		{# empty thumbnail #}
	{% elseif alias is empty %}
		{% set media = image|media %}
		{% set alias = {
			size: [
				media.width,
				media.height
			],
			fit: 'c'
		} %}
	{% endif %}
		
	{% set width = min(alias.size[0]|default(100), 1000) %}
	{% set height = min(alias.size[1]|default(100), 750) %}
	{% set fit = alias.fit|default('c') %}

	{% set progressiveThumb = image|thumbnail(width * 0.25, height * 0.25, fit) %}
	{% set thumb = image|thumbnail(width, height, fit) %}

	{{ progressiveThumb ~ ';' ~ thumb }}
{% endapply %}
{% endmacro %}


{# Lazy Image (from BOLT content) #}
{% macro lazyImage(image, thumbAlias, imageExtraClass = "") %}
	
	{% from _self import thumbimage %}
	{% from _self import progressive_thumbimage %}

	{% set aliases = config.get("theme/thumbnails/aliases") %}

	{% if aliases[thumbAlias] is not defined %}
		{% with { message: 'Thumbnail alias "' ~ thumbAlias ~ '" is not defined.' } %}
		{{ block('error_block', "blocks.twig") }}
		{% endwith %}
	{% elseif image.path is empty %}
		{% with { message: 'Image source is empty' } %}
		{{ block('error_block', "blocks.twig") }}
		{% endwith %}
	{% else %}
		{% set imagesArray = progressive_thumbimage(image, thumbAlias) %}
		{% set width = aliases[thumbAlias].size[0]|default(100) %}
		{% set style = "width: " ~ width ~ "px" %}
		<img class="lazy img {{ imageExtraClass }}" style="{{ style }}" data-src="{{ imagesArray }}" alt="{{ image.title|default(image.path) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
	{% endif %}
{% endmacro %}

{# Lazy Image with URL #}
{% macro lazyImageExternal(imageUrl, title = null, imageExtraClass = "") %}
	<img class="lazy {{ imageExtraClass }}" data-src="{{ imageUrl }}" alt="{{ title|default(imageUrl) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
{% endmacro %}

{#  Image popup with lazyload #}
{% macro lazyImagePopup(image, thumbAlias, thumbAliasLarge = null, imageExtraClass = "", skipMagnific = false) %}
	{% from _self import lazyImage %}
	{% from _self import thumbimage %}

	{% set imgBigUrl = thumbAliasLarge|default is not empty ? thumbimage(image, thumbAliasLarge) : image.path %}
	
	{% set anchorContent %}
		<a href="{{ imgBigUrl }}" class="magnific imageholder" title="{{ image.title|default(imgBigUrl) }}">
			{{ lazyImage(image, thumbAlias, imageExtraClass) }}
		</a>
	{% endset %}

	{% if skipMagnific %}
		{{ anchorContent }}
	{% else %}
		<div class="use-magnific">
			{{ anchorContent }}
		</div>	
	{% endif %}
{% endmacro %}

{# Generate stylesheet entry #}
{% macro stylesheet(style) %}
	{# Defer loading of non-critical styles #}
	<link rel="preload" href="{{ asset(style, 'theme') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript> 
		{# Firefox, IE11, Safari #}
		<link rel="stylesheet" href="{{ asset(style, 'theme') }}">
	</noscript>
{% endmacro %}

{% macro stylesheet_inline(style) %}
	<style>{{ source(style) }}</style>
{% endmacro %}

{# Generate scripts entry #}
{% macro script(script) %}
	<script defer src="{{ asset(script, 'theme') }}"></script>
{% endmacro %}

{# Section macro #}
{# Create section from block content type by the group taxonomy. #}
{% macro sectionsByGroup(groupName, isParalax = false, color_iteration = null ) %}
	{% set themeSection = config.get('theme/section') %}
	{% set color_iteration = color_iteration|default([])|length == 0 ? themeSection.color_iteration : color_iteration %}

	{# Get All blocks by the group #}
	{% setcontent sections = themeSection.sectionblock_name where { (themeSection.taxonomy_name): groupName } %}

	{# loop over the section with homepage group #}
	{% for section in sections %}

		{# Set body of the section #}
		{% set content %}
			<div class="container">
				{% with { 'section': section } %}
				{{ block('section_content', "section_blocks.twig") }}
				{%- endwith -%}	
			</div>
		{% endset %}
		
		{% set currentColor = color_iteration[(loop.index - 1) % color_iteration|length]|default(color_iteration[0]) %}
		
		{% with { 
			section: section,
			content: content,
			image: section.image,
			bgColor: currentColor,
			isParalax: isParalax|default(false) and loop.index > 1 
		}%}
			{{ block('section', "section_blocks.twig") }}
		{%- endwith -%}
	{% endfor %}
{% endmacro %}

{# Section macro #}
{# Create section from block content type by the record's related #}
{% macro sectionsByRecord(record, isParalax = false, color_iteration = null ) %}
	{% set themeSection = config.get('theme/section') %}
	{% set color_iteration = color_iteration|default([])|length == 0 ? themeSection.color_iteration : color_iteration %}

	{# Get All related blocks mapped to the record #}
	{% set sections = record|related(themeSection.sectionblock_name) %}

	{# loop over the section with homepage group #}
	{% for section in sections %}
		{# Set body of the section #}
		{% set content %}
			<div class="container">
				{% with { 'section': section } %}
				{{ block('section_content', "section_blocks.twig") }}
				{%- endwith -%}	
			</div>
		{% endset %}

		{# set different color for each section #}
		{% set currentColor = color_iteration[(loop.index - 1) % color_iteration|length] %}
		{% with { 
			content: content,
			image: section.image,
			bgColor: currentColor,
			isParalax: isParalax|default(false) and loop.index > 1 
		}%}
			{{ block('section', "section_blocks.twig") }}
		{%- endwith -%}
	{% endfor %}
{% endmacro %}

{# Link Wrapper #}
{% macro link(content, link, class = null) %}
	{% with {
		link: link,
		class: class,
		content: content
	} %}
	{{ block("link_wrapper", "blocks.twig") }}
	{% endwith %}
{% endmacro %}
