{# Thumbnail image by the thumbnail alias defined in theme.yaml #}
{# src, thumbnailAlias#}
{% macro thumbimage(src, thumbnailAlias) %}
{% apply spaceless %}
	{%- if src is empty %}
		{# empty thumbnail #}
	{% elseif config.get('theme/thumbnails/aliases/' ~ thumbnailAlias) %}
		{% set alias = config.get('theme/thumbnails/aliases/' ~ thumbnailAlias) %}
		{{ src|thumbnail(alias.size[0]|default(null), alias.size[1]|default('null'), alias.fit|default('c')) }}
	{% else %}
		{{ src|thumbnail }}
	{% endif -%}
{% endapply %}
{% endmacro %}


{# Lazy Image (from BOLT content) #}
{# image, title, width, height, extraClass #}
{% macro lazyImage(image, alias, extraClass = null) %}
	{% from _self import thumbimage %}

	{% set aliases = config.get("theme/thumbnails/aliases") %}

	{% if aliases[alias] is not defined %}
		{% with { message: 'Thumbnail alias "' ~ alias ~ '" is not defined.' } %}
		{{ block('error_block', "section_blocks.twig") }}
		{% endwith %}
	{% elseif image.path is empty %}
		{% with { message: 'Image source is empty' } %}
		{{ block('error_block', "section_blocks.twig") }}
		{% endwith %}
	{% else %}
		{% set imgThumb = thumbimage(image, alias) %}
		{% set width = aliases[alias].size[0] %}
		{% set height = aliases[alias].size[1] %}
		{# {% set style = "width: " ~ width ~ "px; height: " ~ height ~ "px" %} #}
		{% set style = "width: " ~ width ~ "px" %}
		<img class="lazy {{ extraClass|default }}" style="{{ style }}" data-src="{{ imgThumb }}" alt="{{ image.title|default(image.path) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
	{% endif %}
{% endmacro %}

{# Lazy Image with URL #}
{% macro lazyImageExternal(imageUrl, title = null, extraClass = null) %}
	<img class="lazy {{ extraClass|default() }}" data-src="{{ imageUrl }}" alt="{{ title|default(imageUrl) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
{% endmacro %}

{#  Image popup with lazyload #}
{% macro lazyImagePopup(image, thumbAlias, thumbAliasLarge = null, imageExtraClass = "", skipMagnific = false) %}
	{% from _self import lazyImage %}
	{% from _self import thumbimage %}

	{% set imgBigUrl = thumbAliasLarge|default is not empty ? thumbimage(image, thumbAliasLarge) : image.path %}
	
	{% set anchorContent %}
		<a href="{{ imgBigUrl }}" class="magnific imageholder is-inline-block" title="{{ image.title|default(imgBigUrl) }}">
			{{ lazyImage(image, thumbAlias, imageExtraClass) }}
		</a>
	{% endset %}

	{% if skipMagnific %}
		{{ anchorContent }}
	{% else %}
		<div class="use-magnific">
			{{ anchorContent }}
		</div>	
	{% endif %}
{% endmacro %}


{# Lazy Standard gallery macro 
{# imagelist, width, height, imageExtraClass #} #}
{% macro lazyGallery(imagelist, alias = "gallery", aliasBig = "gallery-big", imageExtraClass = "") %}
	{% from _self import lazyImage %}
	{% from _self import lazyImagePopup %}
	
	<div class="use-magnific imagelist">
		{% for image in imagelist %}
			{{ lazyImagePopup(image, alias, aliasBig, imageExtraClass, true) }}
		{% endfor %}
	</div>
{% endmacro %}

{# Generate stylesheet entry #}
{% macro stylesheet(style) %}
	{# Defer loading of non-critical styles #}
	<link rel="preload" href="{{ asset(style, 'theme') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	{# <noscript>  #}
		{# Firefox, IE11, Safari #}
		<link rel="stylesheet" href="{{ asset(style, 'theme') }}">
	{# </noscript> #}
{% endmacro %}

{% macro stylesheet_inline(style) %}
	<style>{{ source(style) }}</style>
{% endmacro %}

{# Generate scripts entry #}
{% macro script(script) %}
	<script defer src="{{ asset(script, 'theme') }}"></script>
{% endmacro %}

{# Section macro #}
{# Create section from block content type by the group taxonomy. #}
{% macro sectionsByGroup(groupName, isParalax = false, color_iteration = null ) %}
	{% set themeSection = config.get('theme/section') %}
	{% set color_iteration = color_iteration|default([])|length == 0 ? themeSection.color_iteration : color_iteration %}

	{# Get All blocks by the group #}
	{% setcontent sections = themeSection.sectionblock_name where { (themeSection.taxonomy_name): groupName } %}

	{# loop over the section with homepage group #}
	{% for section in sections %}

		{# Set body of the section #}
		{% set content %}
			<div class="shpr-section-anchor" id="{{ section.slug }}"></div>
			<div class="container">
				{% with { 'section': section } %}
				{{ block('section_content', "section_blocks.twig") }}
				{%- endwith -%}	
			</div>
		{% endset %}

		{# set different color for each section #}
		{% set currentColor = color_iteration[(loop.index - 1) % color_iteration|length] %}
		{% with { 
			content: content,
			image: section.image,
			bgColor: currentColor,
			isParalax: isParalax|default(false) and loop.index > 1 
		}%}
			{{ block('section', "section_blocks.twig") }}
		{%- endwith -%}	
	{% endfor %}
{% endmacro %}

{# Section macro #}
{# Create section from block content type by the record's related #}
{% macro sectionsByRecord(record, isParalax = false, color_iteration = null ) %}

	{% set themeSection = config.get('theme/section') %}
	{% set color_iteration = color_iteration|default([])|length == 0 ? themeSection.color_iteration : color_iteration %}

	{# Get All related blocks mapped to the record #}
	{% set sections = record.related(themeSection.sectionblock_name) %}

	{# loop over the section with homepage group #}
	{% for section in sections %}
		{# Set body of the section #}
		{% set content %}
			<div class="shpr-section-anchor" id="{{ section.slug }}"></div>
			<div class="container">
				{% with { 'section': section } %}
				{{ block('section_content', "section_blocks.twig") }}
				{%- endwith -%}	
			</div>
		{% endset %}

		{# set different color for each section #}
		{% set currentColor = color_iteration[(loop.index - 1) % color_iteration|length] %}
		{% with { 
			content: content,
			image: section.image,
			bgColor: currentColor,
			isParalax: isParalax|default(false) and loop.index > 1 
		}%}
			{{ block('section', "section_blocks.twig") }}
		{%- endwith -%}
	{% endfor %}
{% endmacro %}

{# Header / Hero block #}
{# Create header block (hero) using the record (entry)  #}
{% macro headerByRecord(record, extraClass = null) %}
	{% set content %}
		<div class="container">
			{% with { 'section': record } %}
			{{ block('hero_content', "section_blocks.twig") }}
			{%- endwith -%}
		</div>
	{% endset %}
	
	{% with { 
		content: content,
		image: record.image,
		class: extraClass|default(config.get('theme/layout/class/header_record'))
	}%}
		{{ block('hero', "section_blocks.twig") }}
	{%- endwith -%}
{% endmacro %}