{# Thumbnail image by the thumbnail alias defined in theme.yaml #}
{# src, thumbnailAlias#}
{% macro thumbimage(image, thumbnailAlias) %}
{% apply spaceless %}
	{% set alias = config.get('theme/thumbnails/aliases/' ~ thumbnailAlias)|default %}
	{%- if image is empty %}
		{# empty thumbnail #}
	{% elseif alias is not empty %}
		{{ image|thumbnail(alias.size[0]|default(100), alias.size[1]|default(100), alias.fit|default('c')) }}
	{% else %}
		{{ image|thumbnail }}
	{% endif -%}
{% endapply %}
{% endmacro %}


{# Thumbnail image by the thumbnail alias defined in theme.yaml #}
{# src, thumbnailAlias#}
{% macro progressive_thumbimage(image, thumbnailAlias) %}
{% apply spaceless %}
	{% set alias = config.get('theme/thumbnails/aliases/' ~ thumbnailAlias)|default %}
	{%- if image is empty %}
		{# empty thumbnail #}
	{% elseif alias is empty %}
		{% set media = image|media %}
		{% set alias = {
			size: [
				media.width,
				media.height
			],
			fit: 'c'
		} %}
	{% endif %}
		
	{% set width = min(alias.size[0]|default(100), 1000) %}
	{% set height = min(alias.size[1]|default(100), 1000) %}
	{% set fit = alias.fit|default('n') %}

	{% set progressiveThumb = image|thumbnail(width * 0.25, height * 0.25, fit) %}
	{% set thumb = image|thumbnail(width, height, fit) %}

	{{ progressiveThumb ~ ';' ~ thumb }}
{% endapply %}
{% endmacro %}


{# Lazy Image (from BOLT content) #}
{% macro lazyImage(image, thumbAlias, imageExtraClass = "") %}
	
	{% from _self import thumbimage %}
	{% from _self import progressive_thumbimage %}

	{% set aliases = config.get("theme/thumbnails/aliases") %}

	{% if aliases[thumbAlias] is not defined %}
		{% with { message: 'Thumbnail alias "' ~ thumbAlias ~ '" is not defined.' } %}
		{{ block('error_block', "blocks.twig") }}
		{% endwith %}
	{% elseif image.path is empty %}
		{% with { message: 'Image source is empty' } %}
		{{ block('error_block', "blocks.twig") }}
		{% endwith %}
	{% else %}
		{% set imagesArray = progressive_thumbimage(image, thumbAlias) %}
		{% set width = aliases[thumbAlias].size[0]|default(100) %}
		{% set style = "width: " ~ width ~ "px" %}
		<img class="lazy img {{ imageExtraClass }}" style="{{ style }}" data-src="{{ imagesArray }}" alt="{{ image.title|default(image.path) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
	{% endif %}
{% endmacro %}

{# Lazy Image with URL #}
{% macro lazyImageExternal(imageUrl, title = null, imageExtraClass = "") %}
	<img class="lazy {{ imageExtraClass }}" data-src="{{ imageUrl }}" alt="{{ title|default(imageUrl) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
{% endmacro %}

{#  Image popup with lazyload #}
{% macro lazyImagePopup(image, thumbAlias, thumbAliasLarge = null, imageExtraClass = "", skipMagnific = false) %}
	{% from _self import lazyImage %}
	{% from _self import thumbimage %}

	{% set imgBigUrl = thumbAliasLarge|default is not empty ? thumbimage(image, thumbAliasLarge) : image.path %}
	
	{% set anchorContent %}
		<a href="{{ imgBigUrl }}" class="magnific imageholder" title="{{ image.title|default(imgBigUrl) }}">
			{{ lazyImage(image, thumbAlias, imageExtraClass) }}
		</a>
	{% endset %}

	{% if skipMagnific %}
		{{ anchorContent }}
	{% else %}
		<div class="use-magnific">
			{{ anchorContent }}
		</div>	
	{% endif %}
{% endmacro %}

{# Video #}
{% macro video(video) %}
	{% from _self import error %}

	{% if video.responsive|default is not empty %}
		<div class="flex-video {{ video.ratio|default(1) > 1.5 ? 'widescreen' }}">
			{{ video.responsive }}
		</div>
	{% else %}
		{{ error("The video has no responsive property.") }}
	{% endif %}
{% endmacro %}

{# Generate stylesheet entry #}
{% macro stylesheet(style) %}
	{# Defer loading of non-critical styles #}
	<link rel="preload" href="{{ asset(style, 'theme') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript> 
		{# Firefox, IE11, Safari #}
		<link rel="stylesheet" href="{{ asset(style, 'theme') }}">
	</noscript>
{% endmacro %}

{% macro stylesheet_inline(style) %}
	<style>{{ source(style) }}</style>
{% endmacro %}

{# Generate scripts entry #}
{% macro script(script) %}
	<script defer src="{{ asset(script, 'theme') }}"></script>
{% endmacro %}

{# Section macro #}
{# Create section from block content type by the record's related #}
{% macro sectionsByRecord(record, isParalax = false) %}
	{% set themeSection = config.get('theme/section') %}
	{% set extraClass = config.get("theme/layout/class/section")|default %}

	{# Get All related blocks mapped to the record #}
	{% set sections = record.sections %}

	{# loop over the section with homepage group #}
	{% for section in sections %}
		{% set section = section|selected %}
		{% set template = section.section_template|default("twig/section/_sub_section.twig") %}

		{% embed template with {
			section: section,
			image: section.image|default,
			extraClass: extraClass,
			isParalax: isParalax|default(false)
		} %}
			{% block section_content %}
				<div class="hero-body">
					<div class="container">
						{% include "twig/section/content/_sub_section_content.twig" with { section: section } %}
					</div>

					{# Edit section record #}
					{% include "twig/partials/_record_edit.twig" with { record: section, extraClass: "is-absolute" } %}
				</div>
			{% endblock %}
		{% endembed %}

	{% endfor %}
{% endmacro %}

{# Link Wrapper #}
{% macro link(content, link, class = null) %}
	{% with {
		link: link,
		class: class,
		content: content
	} %}
	{{ block("link_wrapper", "blocks.twig") }}
	{% endwith %}
{% endmacro %}

{# Error macro #}
{% macro error(message) %}
	{%- with { 
		message: __(message)
	} -%}
		{{ block("error_block", "blocks.twig") }}
	{%- endwith -%}
{% endmacro %}
