{% use "twig/partials/_blocks.twig" %}

{# Thumbnail image by the thumbnail alias defined in theme.yaml #}
{# src, thumbnailAlias#}
{% macro thumbimage(src, thumbnailAlias) %}
	{% if config.get('theme/thumbnails/aliases/' ~ thumbnailAlias) %}
		{% set alias = config.get('theme/thumbnails/aliases/' ~ thumbnailAlias) %}
		{{ src|thumbnail(alias.size[0]|default(null), alias.size[1]|default('null'), alias.fit|default('c')) }}
	{% else %}
		{{ src|thumbnail }}
	{% endif %}
{% endmacro %}

{# Lazy Image #}
{# image, title, width, height, extraClass #}
{% macro lazyimage(src, title, width = "100%", height = "auto", extraClass = "") %}
	<img class="lazy {{ extraClass }}" width="{{ width}}" height="{{ height }}" data-src="{{ src|default('') }}" alt="{{ title|default('') }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
{% endmacro %}

{# Lazy Standard gallery macro 
{# imagelist, width, height, imageExtraClass #} #}
{% macro lazyGallery(imagelist, width = "100%", height = "auto", imageExtraClass = "") %}
	{% from _self import lazyimage %}

	{% for image in imagelist %}
		{% set imgBig = image|thumbnail(1000, 750, 'r') %}
		{% set imgThumb = image|thumbnail(160, 120, 'c') %}

		<a href="{{ imgBig }}" class="magnific imageholder is-inline-block" title="{{ image.title }}">
			{{ lazyimage(imgThumb, image.title, "160", "120", imageExtraClass) }}
		</a>
	{% endfor %}
{% endmacro %}

{# Generate stylesheet entry #}
{% macro stylesheet(style) %}
	{# Defer loading of non-critical styles #}
	<link rel="preload" href="{{ asset(style, 'theme') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	{# <noscript>  #}
		{# Firefox, IE11, Safari #}
		<link rel="stylesheet" href="{{ asset(style, 'theme') }}">
	{# </noscript> #}
{% endmacro %}

{# Generate scripts entry #}
{% macro script(script) %}
	<script defer src="{{ asset(script, 'theme') }}"></script>
{% endmacro %}

{# Section macro #}
{# Create section from block content type by the group taxonomy. #}
{% macro sectionByGroup(groupName, isParalax = false ) %}
	
	{# Get All blocks by the group #}
	{% set contentBlockname = config.get('theme/section/contentblock_name') %}
	{% if contentBlockname %}
		{% set taxonomyName = config.get('theme/section/taxonomy_name')|default('groups') %}
		{% setcontent sections = contentBlockname where { taxonomyName: groupName } %}

		{# loop over the section with homepage group #}
		{% for section in sections %}
			{# set different color for each section #}
			{% set colorIteration = config.get('theme/section/color_iteration')|default(['light']) %}
			{% set currentColor = colorIteration[(loop.index - 1) % colorIteration|length] %}
			{% with { 
				section: section,
				bgColor: currentColor,
				isParalax: isParalax and loop.index > 1 
			}%}
				{{ block('section') }}
			{%- endwith -%}	
		{% endfor %}
	{% endif %}
{% endmacro %}

{# Section macro #}
{# Create section from block content type by the record's related #}
{% macro sectionByRecord(record, isParalax = false ) %}
	{# Get All related blocks mapped to the record #}
	{% set themeSection = config.get('theme/section') %}
	{% set sections = record.related(themeSection.contentblock_name|default('blocks')) %}

	{# loop over the section with homepage group #}
	{% for section in sections %}
		{# set different color for each section #}
		{% set colorIteration = themeSection.color_iteration|default(['light']) %}
		{% set currentColor = colorIteration[(loop.index - 1) % colorIteration|length] %}
		{% with { 
			section: section,
			bgColor: currentColor,
			isParalax: isParalax and loop.index > 1 
		}%}
			{{ block('section') }}
		{%- endwith -%}
	{% endfor %}
{% endmacro %}