{% use "twig/partials/_sub_section_blocks.twig" %}

{# Thumbnail image by the thumbnail alias defined in theme.yaml #}
{# src, thumbnailAlias#}
{% macro thumbimage(src, thumbnailAlias) %}
	{% if config.get('theme/thumbnails/aliases/' ~ thumbnailAlias) %}
		{% set alias = config.get('theme/thumbnails/aliases/' ~ thumbnailAlias) %}
		{{ src|thumbnail(alias.size[0]|default(null), alias.size[1]|default('null'), alias.fit|default('c')) }}
	{% else %}
		{{ src|thumbnail }}
	{% endif %}
{% endmacro %}


{# Lazy Image #}
{# image, title, width, height, extraClass #}
{% macro lazyImage(image, alias, extraClass = null) %}
	{% from _self import thumbimage %}

	{% set aliases = theme.thumbnails.aliases %}

	{% if aliases[alias] is not defined %}
		{% with { message: 'Thumbnail alias "' ~ alias ~ '" is not defined.' } %}
		{{ block('error_block', 'twig/partials/_sub_section_blocks.twig') }}
		{% endwith %}
	{% elseif image|image is empty %}
		{% with { message: 'Image source is empty' } %}
		{{ block('error_block', 'twig/partials/_sub_section_blocks.twig') }}
		{% endwith %}
	{% else %}
		{% set imgThumb = thumbimage(image, alias) %}
		{% set width = aliases[alias].size[0] %}
		{% set height = aliases[alias].size[1] %}
		{# {% set style = "width: " ~ width ~ "px; height: " ~ height ~ "px" %} #}
		{% set style = "width: " ~ width ~ "px" %}
		<img class="lazy {{ extraClass|default() }}" style="{{ style }}" data-src="{{ imgThumb }}" alt="{{ image.title|default(image|image) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
	{% endif %}
{% endmacro %}

{# Lazy Image external URL #}
{% macro lazyImageExternal(imageUrl, title = null, extraClass = null) %}
	<img class="lazy {{ extraClass|default() }}" data-src="{{ imageUrl }}" alt="{{ title|default(imageUrl) }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=" />
{% endmacro %}

{#  Image popup with lazyload #}
{% macro lazyImagePopup(image, alias, aliasBig = null, imageExtraClass = null) %}
	{% from _self import lazyImage %}
	{% from _self import thumbimage %}

	{% set imgBigUrl = aliasBig|default() is not empty ? thumbimage(image, aliasBig) : image|image %}

	<a href="{{ imgBigUrl }}" class="magnific imageholder is-inline-block" title="{{ image.title|default(imgBigUrl) }}">
		{{ lazyImage(image, alias, imageExtraClass|default()) }}
	</a>
{% endmacro %}


{# Lazy Standard gallery macro 
{# imagelist, width, height, imageExtraClass #} #}
{% macro lazyGallery(imagelist, alias = "gallery", aliasBig = "gallery-big", imageExtraClass = "") %}
	{% from _self import lazyImage %}
	{% from _self import lazyImagePopup %}

	{% for image in imagelist %}
		{% set image = image|merge({'file': image.filename|default() }) %}
		{{ lazyImagePopup(image, alias, aliasBig, imageExtraClass) }}
	{% endfor %}
{% endmacro %}

{# Element with Lazy Background Element #}
{# bgImages, content, isParalax, additionalClass, contentHtmlTag #}
{% macro lazyBackground(bgImages, content, contentHtmlTag = null, contentClass = null, isParalax = null) %}
	{# Wrap section in lazy-backround element #}
	{%- with { 
		bgImages: bgImages, 
		content: content, 
		isParalax: isParalax|default(false), 
		htmlTag: contentHtmlTag|default("div"), 
		class: contentClass|default("") } 
	-%}
		{{ block("lazy_background") }}
	{%- endwith -%}
{% endmacro %}

{# Generate stylesheet entry #}
{% macro stylesheet(style) %}
	{# Defer loading of non-critical styles #}
	<link rel="preload" href="{{ asset(style, 'theme') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
	{# <noscript>  #}
		{# Firefox, IE11, Safari #}
		<link rel="stylesheet" href="{{ asset(style, 'theme') }}">
	{# </noscript> #}
{% endmacro %}

{% macro stylesheet_inline(style) %}
	<style>{{ source(style) }}</style>
{% endmacro %}

{# Generate scripts entry #}
{% macro script(script) %}
	<script defer src="{{ asset(script, 'theme') }}"></script>
{% endmacro %}

{# Section macro #}
{# Create section from block content type by the group taxonomy. #}
{% macro sectionsByGroup(groupName, isParalax = null, color_iteration = null ) %}
	{% set themeSection = config.get('theme/section') %}
	{% set color_iteration = color_iteration|default([])|length == 0 ? themeSection.color_iteration : color_iteration %}

	{# Get All blocks by the group #}
	{% setcontent sections = themeSection.contentblock_name where { (themeSection.taxonomy_name): groupName } %}

	{# loop over the section with homepage group #}
	{% for section in sections %}
		{# set different color for each section #}
		{% set currentColor = color_iteration[(loop.index - 1) % color_iteration|length] %}
		{% with { 
			section: section,
			bgColor: currentColor,
			isParalax: isParalax|default(false) and loop.index > 1 
		}%}
			{{ block('section') }}
		{%- endwith -%}	
	{% endfor %}
{% endmacro %}

{# Section macro #}
{# Create section from block content type by the record's related #}
{% macro sectionsByRecord(record, isParalax = null, color_iteration = null ) %}
	{% set themeSection = config.get('theme/section') %}
	{% set color_iteration = color_iteration|default([])|length == 0 ? themeSection.color_iteration : color_iteration %}

	{# Get All related blocks mapped to the record #}
	{% set sections = record.related(themeSection.contentblock_name) %}

	{# loop over the section with homepage group #}
	{% for section in sections %}
		{# set different color for each section #}
		{% set currentColor = color_iteration[(loop.index - 1) % color_iteration|length] %}
		{% with { 
			section: section,
			bgColor: currentColor,
			isParalax: isParalax|default(false) and loop.index > 1 
		}%}
			{{ block('section') }}
		{%- endwith -%}
	{% endfor %}
{% endmacro %}