{# Import macros #}
{% import "twig/partials/_macros.twig" as m %}


{% set routeParams = app.request.get('_route_params') %}
{% set contentTypeSlug = routeParams.contenttypeslug is defined ? routeParams.contenttypeslug : 'homepage' %}

{% set script = 'dist/js/' ~ contentTypeSlug ~ '-bundle.js' %}
{% set style = 'dist/css/' ~ contentTypeSlug ~ '-bundle.css' %}

{% set htmlThemeClass = theme.layout.class.html  %}

<!DOCTYPE html>

{% block document %}
	<html lang="{{ htmllang() }}" class="{{ htmlThemeClass }} {{ htmlClass }}">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			{# Bulma css #}
			{{ m.stylesheet_inline('dist/css/bulma-bundle.css') }}

			{# Minimal styles #}
			{% block stylesheet %}
				{{ m.stylesheet_inline(style) }}
			{% endblock %}
			
			<link rel="shortcut icon" type="image/ico" href="/favicon.png"/>
			
			{# make sure to always display a proper title: The record's title if there is one, appended with the #}
			{# sitename. If there is no title, we append the sitename with the payoff, if there is one.  #}

			{# SEO plugin #}
			{% if seo is defined and seo is not empty %}
				<title>{{ seo.title() }}</title>
				{{ seo.metatags() }}
			{% else %}
				<title>{{ config.get('general/sitename') }}</title>
				<meta property="og:description" content="{{ config.get('general/payoff') }}" />
			{% endif %}
			
		</head>
		<body id="top">

			<header class="header">
				{% block navbar %}
					{{ include('navbar.twig') }}
				{% endblock %}
			</header>

			{% block content %}

				Content goes here

			{% endblock content %}

			{# Standard FOOTER #}
			{% block footer %}
				{% include 'footer.twig' %}
			{% endblock %}
			
			{# Theme scripts #}
			{% block scripts %}
				{{ m.script(script) }}
			{% endblock %}
			
			{# Font Awesome #}
			{{ m.script('dist/js/fontawesome-bundle.js') }}

			{# AdSense #}
			{# <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ config.get('theme/seo/adsense') }}" crossorigin="anonymous"></script> #}
		</body>
	</html>
{% endblock %}