{# Navbar #}

{% set isAnimatedClass = isAnimated|default == true ? "is-animated" : "" %}
{% set isFixedClass = isFixed|default == true ? 'is-fixed-top' : "" %}
{% set navbarClassSuffix = navbarClassSuffix|default("end") %}

<nav id="navbar-toggle" class="navbar {{ isAnimatedClass }} {{ isFixedClass }} {{ theme.layout.class.navbar|default('is-light') }}" role="navigation" aria-label="main navigation">
    <div class="container {{ theme.navbar.is_full_width ? "is-fluid" }}">
        <div class="navbar-brand">
            {% if theme.navbar.brand_logo|default is not empty %}
                {% block navbar_brand %}
                    <a class="navbar-item has-text-weight-bold" href="/"> 
                        {{ asset(theme.navbar.brand_logo)|showimage(theme.navbar.brand_logo_width) }}
                    </a>
                {% endblock %}
            {% endif %}
        </div>
        {% block navbar_burger_menu %}
            <span class="navbar-burger burger" data-target="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        {% endblock %}
        <div class="navbar-menu">
            <div class="navbar-{{ navbarClassSuffix }}">
                <ul class="navbar-item no-link-color">
                    {% apply spaceless %}
                        {% set usedMenu = theme.navbar.menu_id|default("main") %}
                        {{ menu(usedMenu, 'twig/partials/_sub_menu_navbar.twig') }}
                    {% endapply %}
                </ul>
                {% block navbar_last_item %}
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
