{# Navbar #}

{% set isTransparentClass = isTransparent|default == true ? "is-transparent" : "" %}
{% set isFixedClass = isFixed|default == true ? 'is-fixed-top' : "" %}
{% set navbarClassSuffix = navbarClassSuffix|default("end") %}
{% if hasBrandLogo is not defined %}
    {% set hasBrandLogo = true %}
{% endif %}

<nav id="navbar-toggle" class="navbar {{ isTransparentClass }} {{ isFixedClass}} {{ theme.layout.class.navbar|default('is-light') }}" role="navigation" aria-label="main navigation">
    <div class="container {{ theme.layout.is_navbar_full_width ? "is-fluid" }}">
       {% if hasBrandLogo  %}
            <div class="navbar-brand shpr-brand">
                {% block navbar_brand %}
                    <a class="title is-5 navbar-item has-text-weight-bold" href="/">
                        {{ config.get('general/sitename') }}
                    </a>
                {% endblock %}
                {% block navbar_burger_menu %}
                    <span class="navbar-burger burger" data-target="navbar-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                {% endblock %}
            </div>
        {% endif %}
        <div class="navbar-menu">
            <div class="navbar-{{ navbarClassSuffix }}">
                <ul class="navbar-item no-link-color">
                    {% apply spaceless %}
                        {% set usedMenu = config.get('theme/layout/used_navigation_menu')|default("main") %}
                        {{ menu(usedMenu, 'twig/partials/_sub_menu_navbar.twig') }}
                    {% endapply %}
                </ul>
                {% block navbar_last_item %}
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
