{# Content edit button #}
{% block edit_button %}
	<a href="{{ record|edit_link }}" class="button is-outlined">
        <span class="icon">
            <i class="fas fa-pencil-alt"></i>
        </span>
        <span>{{ __('general.phrase.edit') }} {{ record|slug }}</span>
	</a>
{% endblock %}

{# Regular buy button #}
{% block buy_button %}
    <a class="button {{ class|default("is-primary") }}" href="{{ link|default('#') }}" {{ extra|default}}>
        <span class="icon">
            <i class="fas fa-shopping-cart"></i>
        </span>
        <span>{{ __("Add To Cart")}}</span>
    </a>
{% endblock %}

{# Regular Read more button #}
{% block read_more_button %}
    <a class="button" href="{{ link|default('#') }}">{{ __('general.phrase.read-more') }}</a>
{% endblock %}

{# Error / Warning block #}
{# Required: message #}
{% block error_block %}
	<div class="notification is-warning">
		{{ message|default }}
	</div>
{% endblock %}

{# The <a href> wrapper #}
{# Required: content, link #}
{# optional: class #}
{% block link_wrapper %}
    {% if link|default is not empty %}
        <a class="{{ class|default }}" href="{{ link }}">
            {{ content|default }}    
        </a>
    {% else %}
        {{ content|default }}
    {% endif %}
{% endblock %}
