<div>
    {% for type, taxonomies in record|taxonomies %}
        <div>
            {% if taxonomies|length == 1 %}
                {{ config.get('taxonomies')[type].singular_name }}:
            {% elseif taxonomies|length > 1 %}
                {{ config.get('taxonomies')[type].name }}:
            {% endif %}
        </div>
        {% for taxonomy in taxonomies %}
            <div class="tag"><a href="{{ taxonomy|link }}">{{ taxonomy.name }}</a></div>
        {% else %}
            {{ __('general.phrase.none') }}
        {% endfor %}
    {% endfor %}
</div>
