
{% macro submenuMacro(submenu) %}
	{% import _self as self %}
	
	{# <li class="navbar-item">
		<a class="navbar-link is-arrowless" href="{{ submenu.link }}">{{ __(submenu.label) }}</a>
	</li> #}
	<a href="{{ submenu.link }}" class="navbar-item">{{ __(submenu.label) }}</a>

	{% if submenu.submenu|default %}
		{# <div class="navbar-item is-flex-direction-column is-align-items-flex-start ">
			{% for submenu in submenu.submenu %}
				{{ self.submenuMacro(submenu) }}
			{% endfor %}
		</div> #}

		<div class="shpr-menu-pulled-right">
			{% for submenu in submenu.submenu %}
				{{ self.submenuMacro(submenu) }}
			{% endfor %}
		</div>
	{% endif %}
{% endmacro %}

{% block menu %}

	{% import _self as self %}

	{% for item in menu %}
		{% if item.submenu %}
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					{{ __(item.label) }}
				</a>

				<ul class="navbar-dropdown">
					{% for submenu in item.submenu %}
						{{ self.submenuMacro(submenu) }}
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<a class="navbar-item" href="{{ item.link }}">{{ __(item.label) }}</a>
		{% endif %}
	{% endfor %}

{% endblock %}
