{% extends "record.twig" %}

{% block stylesheet %}
    {# Defer loading of non-critical styles #}
    {{ m.stylesheet('dist/css/entry-bundle.css') }}
{% endblock %}

{% block scripts %}
    {{ m.script('dist/js/entry-bundle.js') }}
{% endblock %}

{% block header_block %}
	{% set headerBlockClass = 'hero is-small is-primary is-header shpr-lazy-background' %}
	{{ parent() }}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container content">
            {% with { 'record': record, 'extended': false, 'repeaters': false, 'blocks': true, 'media': true } %}
            {{ block('sub_fields', 'partials/_sub_fields.twig') }}
            {% endwith %} 
        </div>
    </section>
{% endblock %}

{# Standard SECTIONS #}
{% block sections %}
    {{ m.section("page", false, ['primary', 'light']) }}
{% endblock %}

