{% extends "twig/_record.twig" %}

{# Content Specific template for 'entry' slug #}

{% block stylesheet %}
    {# Defer loading of non-critical styles #}
    {{ m.stylesheet('dist/css/entry-bundle.css') }}
{% endblock %}

{% block scripts %}
    {{ m.script('dist/js/entry-bundle.js') }}
{% endblock %}
{# 
{% block header_block %}
	{# {% set headerBlockClass = 'hero shpr-lazy-background is-header ' ~ theme.layout.class.header_entry|default('is-primary') %} #}
	{# {{ parent() }}
{% endblock %} #}

{% block body %}
    <section class="section">
        <div class="container content">
            {% with { 'record': record, 'extended': false, 'repeaters': false, 'blocks': true, 'media': true } %}
            {{ block('sub_fields', 'twig/partials/_sub_fields.twig') }}
            {% endwith %} 
        </div>
    </section>
{% endblock %}

{# Standard SECTIONS #}
{% block sections %}
    {{ m.sectionsByRecord(record, false) }}
    {{ m.sectionsByGroup("entry", false) }}
{% endblock %}

