{# Index aka Homepage #}
{% extends "twig/_index.twig" %}
{% import "twig/partials/_macros.twig" as m %}

{# Ucomment this to do not render navbar in the homepage #}
{# 
{% block document %}
	{% set htmlClass = "" %}
	{{ parent() }}
{% endblock %}
{% block navbar %}{% endblock %} 
#}

{# Customize header section#}
{% block header %}     
    {% set content %}
		<div class="container">
			{% if homepage %}
                <h1 class="title is-1">{{ homepage|title }}</h1>
                <div class="subtitle">
					<div class="content">
					{{ homepage.introduction|default }}
					</div>
				</div>
            {% endif %}
		</div>
	{% endset %}

	{% with { 
		content: content,
		image: homepage.image,
        class: config.get('theme/layout/class/header_index')
	}%}
		{{ block('hero', 'section_blocks.twig') }}
	{%- endwith -%}
{% endblock %}

{# Use SVG LOGO on the index header #}
{# 
{% block header %}     
    {% set content %}
		<div class="container">
			{% if homepage %}
				<div class="logo"></div>
            {% endif %}
		</div>
	{% endset %}

	{% with { 
		content: content,
        class: config.get('theme/layout/class/header_index')
	}%}
		{{ block('hero', 'section_blocks.twig') }}
	{%- endwith -%}
{% endblock %} 
#}