{% extends "listing.twig" %}
{% import "partials/_macros.twig" as m %}

{% block header %}

    <h1 class="title is-2">
        {% if taxonomy.options[slug] is defined %}
            {{ taxonomy.options[slug] }}
        {% else %}
            {{ slug }}
        {% endif %}
    </h1>

{% endblock %}

{% block list_item %}
    {% if record.image is not empty %}
        <div class="media-left column">
            <figure class="image is-128x128 has-image-centered">
                {# {{ popup(record.values.image, 480, 320) }} #}
                {% set title = record.values.image.title|default(record.values.image.file) %}
                {{ m.lazyImage(record.values.image|thumbnail('listing'), title, '100%', 'auto', 'is-rounded' ) }}
            </figure>
        </div>
    {% endif %}
	<div class="media-content column is-10">
        <div class="content">
			<h2 class="title is-5 no-link-color">
				{{ record.title }}
			</h2>

            {{ record.content|default }}

		</div>
	</div>
{% endblock %}
