{% extends "record.twig" %}

{% block stylesheet %}
    {# Defer loading of non-critical styles #}
    {{ m.stylesheet('dist/css/page-bundle.css') }}
{% endblock %}

{% block scripts %}
    {{ m.script('dist/js/page-bundle.js') }}
{% endblock %}

{% block header %}
    <h1 class="title is-3 is-spaced">{{ record.title }}</h1>
    {% include 'twig/partials/_record_meta.twig' with {'extended': false} %}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container content">
            {% with { 'record': record, 'extended': false, 'repeaters': false, 'blocks': false, 'media': false } %}
            {{ block('sub_fields', 'twig/partials/_sub_fields.twig') }}
            {% endwith %} 
        </div>
    </section>
{% endblock %}

{# Standard SECTIONS #}
{% block sections %}
    {{ m.sectionByRecord(record, false, ['light', 'dark']) }}
    {{ m.sectionByGroup("page", false, ['primary', 'light']) }}
{% endblock %}

