
{% set contentBlockClass = config.get("theme/layout/class/contentblock") %}

{# Entry block #}
{# Content of contentype 'block' and 'contentlink' filed for NOT iterable content #}
{% block contentlink_block %}

	{% if content|default is empty %}
		{{ __("No Content") }}
	{% else %}

		<div class="{{ contentBlockClass|default }}"> 
			{% block beforetitle %}{% endblock %}
			{% block title %}
				{% apply spaceless %}
				{% set titleBlock %}
					<h3 class="title is-5">{{ content|title|default }}</h3>
				{% endset %}

				{%- with { 
					content: titleBlock, link: content|link
				} -%}
					{{ block("link_wrapper", "blocks.twig") }}
				{%- endwith -%}

				{% endapply %}
			{% endblock %}

			{% block beforeteaser %}{% endblock %}
			{% block teaser %}
				<div class="content">
					<p class="no-link-color">
						
						{% set teaserContent %}
							{% apply spaceless %}
							{% if content.teaser is defined %}
								{{ content.teaser|excerpt(220) }}
							{% elseif content.content is defined %}
								{{ content.content|excerpt(220) }}
							{% endif %}
							{% endapply %}
						{% endset %}

						{%- with { 
							content: teaserContent, link: content|link
						} -%}
							{{ block("link_wrapper", "blocks.twig") }}
						{%- endwith -%}
					</p>
				</div>
			{% endblock %}
			{% block body %}{% endblock %}
			{% block beforeactions %}{% endblock %}
			{% block actions %}
				{% if content|link|default %}
					<div class="actions">
						{% set viewAlllink = content|link %}
						<a class="button" href="{{ viewAlllink }}">{{ __('Read more') }}</a>
					</div>
				{% endif %}
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
