{% extends "twig/gallery/_sub_gallery.twig" %}
{% import "twig/partials/_macros.twig" as m %}

{% block gallery_content %}
    <div class="has-text-centered">
        {{ block("gallery_title") }}

        {{ block("gallery_image_cells") }}

        {{ block("gallery_description") }}
    </div>
{% endblock %}

{% block gallery_image_cells %} 
    <div class="columns is-centered is-vcentered is-mobile is-multiline">
        {{ parent() }}
    </div>
{% endblock %} 

{% block gallery_image %}
    <div class="column is-3-mobile is-2-desktop">
        {{ parent() }}
    </div>
{% endblock %}

{% block gallery_figure %}
    {{ m.lazyImage(image, alias|default("logo"), "is-2x3") }}
{% endblock %}