{% extends "twig/contentblock/content.twig" %}

{% block contentlink_block %}
    {{ block("contentlink_block_content") }}
{% endblock %}

{% block contentlink_block_content %}

    {% set titleClass = "title is-4" %}
    {% block title %}
        <h3 class="{{ titleClass }}">{{ content|title }}</h3>
    {% endblock %}

	{% block teaser %}
		<div class="content">

			{% apply spaceless %}
                {% if content.teaser is defined %}
                    {{ content.teaser }}
                {% elseif content.content is defined %}
                    {{ content.content }}
                {% endif %}
			{% endapply %}

		</div>
	{% endblock %}
{% endblock %}
