{% extends "twig/contentblock/content.twig" %}

{# Contentlink Listing content #}
{# ContentBlock filled for ITERABLE content #}
{# Require: content #}
{% block contentlink_block %}

	{% set defaults = {
		classList: 'columns slider',
		classListWide: 'columns',
		classColumn: 'column is-one-third',
		classColumnWide: 'column',
		templateColumn: 'twig/contentblock/content.twig'
	} %}

	{% if content is not iterable %}
		{% with { message: 'Received content is not iterable or invalid.' } %}
		{{ block('error_block', 'twig/partials/_sub_section_blocks.twig') }}
		{% endwith %}
	{% elseif content|length > 0 %}

		{% set listClass = content|length == 1 ? listClassWide|default(defaults.classListWide) : listClass|default(defaults.classList) %}
		<ul class="{{ listClass }}">
			{%- for entry in content -%}
                {% block list_item %}
					
					{% set columnClass = content|length == 1 ? columnClassWide|default(defaults.classColumnWide) : columnClass|default(defaults.classColumn) %}
                    <li class="{{ columnClass }}">
						{% with { content: entry } %}
						{{ block('contentlink_block', columnTemplate|default(defaults.templateColumn) )}}
						{% endwith %}
                    </li>

                {% endblock %}
			{%- endfor -%}
		</ul>

	{% else %}
		{% with { message: 'There is no content yet.' } %}
		{{ block('error_block', 'twig/partials/_sub_section_blocks.twig') }}
		{% endwith %}
	{% endif %}
{% endblock %}