{% extends 'twig/partials/_master.twig' %}
{% import "twig/partials/_macros.twig" as m %}

{% block stylesheet %}
    {# Defer loading of non-critical styles #}
    {{ m.stylesheet('dist/css/listing-bundle.css') }}
{% endblock %}

{% block scripts %}
	{{ m.script('dist/js/listing-bundle.js') }}
{% endblock %}

{# Main content block #}
{% block content %}

    {# Content to be renderred in header #}
    {% set headerContent %}
        <div class="container">
            {% if taxonomy is defined %}
                <h1 class="title is-2 is-4-mobile">
                    {{ __('general.phrase.overview-for', {'%slug%': taxonomy.options[slug]|default(slug) }) }}
                </h1>
            {% else %}
                <h1 class="title is-2 is-4-mobile">{{ contenttype.name }}</h1>
            {% endif %}
        </div>
    {% endset %}

    {% set listContent %}
        {% for record in records %}
            <article role="article" class="media columns">
                {% block list_item %}
                    <div class="media-content column is-7">
                        <div class="content">
                            <h2 class="title is-5 no-link-color">
                                <a href="{{ record|link }}">{{ record|title }}</a>
                            </h2>

                            {# display something introduction-like.. #}
                            {% if record.teaser %}
                                {{ record.teaser }}
                            {% else %}
                                <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                            {% endif %}

                            {% include 'twig/partials/_record_meta.twig' with {'extended': true} %}
                        </div>
                    </div>
                    {% if record.image is not empty %}
                        <div class="media-right column">
                            <figure class="image is-square">
                                {{ m.lazyImagePopup(record.image, "listing") }}
                                {% if record.title|default is not empty %}
                                    <figcaption>{{ record.title }}</figcaption>
                                {% endif %}
                            </figure>
                        </div>
                    {% endif %}
                {% endblock %}
            </article>
        {% else %}
            <article role="article">
                <div class="content">
                    <h2 class="title">{{ __('general.phrase.no-content-found') }}</h2>

                    {% with { message: __("There is no content yet.") } %}
                    {{ block("error_block", "twig/partials/_sub_section_blocks.twig") }}
                    {% endwith %}        
                </div>
            </article>
        {% endfor %}
    {% endset %}

    {# Header section #}
    {% block header %}
    {% with { 
        content: headerContent,
        class: config.get('theme/layout/class/header_listing')|default
    }%}
        {{ block('hero', 'section_blocks.twig') }}
    {%- endwith -%}
    {% endblock %}
    
    {# Body section #}
    {% set sectionExtraClass = config.get("theme/layout/class/listing")|default %}
    <section class="section shpr-section {{ sectionExtraClass }}">
        <div class="container">
            {% block body %}
                {{ listContent }}
            {% endblock %}

            {% block pager %}
                {# If there are more records than will fit on one page, the pager is shown. #}
                {{ pager(template = 'helpers/_pager_bulma.html.twig', surround = 5) }}
            {% endblock %}
        </div>
    </section>

    {# Standard SECTIONS #}
	{% block sections %}
		{{ m.sectionsByGroup("listing") }}
	{% endblock %}
{% endblock %}
