{% extends 'twig/partials/_master.twig' %}
{% import "twig/partials/_macros.twig" as m %}

{% block stylesheet %}
    {# Defer loading of non-critical styles #}
    {{ m.stylesheet_inline('dist/css/listing-bundle.css') }}
{% endblock %}

{% block scripts %}
	{{ m.script('dist/js/listing-bundle.js') }}
{% endblock %}

{% set themeConfig = config.get('theme/layout/sections/listing') %}

{% block document %}        
	{% set htmlClass = themeConfig.is_navbar_fixed|default == true ? "has-navbar-fixed-top" %}
	{{ parent() }}
{% endblock %}

{% block navbar %}
	{% 
		include "navbar.twig" with { 
			isAnimated: themeConfig.is_navbar_animated,
            isFixed: themeConfig.is_navbar_fixed,
			navbarClassSuffix: themeConfig.navbar_alignment,
			hasBrandLogo: themeConfig.has_navbar_logo
		}	
	%}
{% endblock %}

{# Main content block #}
{% block content %}

    {% if contenttype|default is not empty%}
        {% setcontent record = "block/" ~ contenttype.slug %}
    {% endif %}

    {% block record_edit %}
        {% include "twig/partials/_record_edit.twig" with { record: record|default }%}
    {% endblock %}

    {# Content to be renderred in header #}
    {% set headerContent %}
        <div class="container">
            {% block header_content %}
                {% if taxonomy is defined %}
                    <h1 class="title is-2 is-4-mobile">
                        {{ __('general.phrase.overview-for', {'%slug%': taxonomy.options[slug]|default(slug) }) }}
                    </h1>
                {% else %}
                    {% if record|default is not empty %}
                        {% include "twig/partials/_record_teaser.twig" with { 
                            record: record, 
                            classHeader:"title is-2 is-4-mobile", 
                            classTeaser: "subtitle is-4 is-6-mobile", 
                            use_read_more: true} 
                        %}
                    {% elseif contenttype|default is not empty %}
                        <h1 class="title is-2 is-4-mobile">{{ contenttype.name }}</h1>
                    {% endif %}
                    
                {% endif %}
            {% endblock %}
        </div>
    {% endset %}

    {% set listContent %}
        <section class="content">
            {% if record|default is not empty and record.content|default is not empty %}
                {{ record.content }}
                <div class="divider"></div>
            {% endif %}
        </section>
        {% block records %}
            {% for record in records %}
                <article role="article" class="columns">
                    {% block list_item %}
                        <div class="column is-7">
                            <div class="content">
                                {% include "twig/partials/_record_teaser.twig" with { use_read_more: true, use_link: true } %}
                            </div>
                        </div>
                        {% if record.image is not empty %}
                            <div class="column">
                                {% include "twig/partials/_sub_image.twig" with { 
                                    link: record|link, 
                                    image: record.image, 
                                    thumbname: "listing" 
                                } %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </article>
            {% else %}
                <article role="article">
                    <div class="content">
                        <h2 class="title">{{ __('general.phrase.no-content-found') }}</h2>

                        {% with { message: __("There is no content yet.") } %}
                        {{ block("error_block", "blocks.twig") }}
                        {% endwith %}
                    </div>
                </article>
            {% endfor %}
        {% endblock %}
    {% endset %}

    {# Header section #}
    
    {% block record_header %}
        {% set themeLayout = theme.layout.sections.listing %}
        {% include "twig/partials/_listing_header.twig" with { 
            content: headerContent,
            record: record,
            extraClass: themeLayout.header_extra_class|default
        }%}
    {% endblock %}
    
    {% block record_body %}
        {# Body section #}
        {% set sectionExtraClass = config.get("theme/layout/class/listing")|default %}
        <section class="section shpr-section {{ sectionExtraClass }}">
            <div class="container">
                {% block body %}
                    {{ listContent }}
                {% endblock %}

                {% block pager %}
                    {# If there are more records than will fit on one page, the pager is shown. #}
                    {{ pager(records, template = 'helpers/_pager_bulma.html.twig', surround = 5) }}
                {% endblock %}
            </div>
        </section>
    {% endblock %}

    {# Standard SECTIONS #}
	{% block sections %}
		{{ m.sectionsByGroup("listing") }}
	{% endblock %}
{% endblock %}
