{% extends 'twig/partials/_master.twig' %}
{% import "twig/partials/_macros.twig" as m %}

{% block stylesheet %}
    {# Defer loading of non-critical styles #}
    {{ m.stylesheet_inline('dist/css/record-bundle.css') }}
{% endblock %}

{% block scripts %}
    {{ m.script('dist/js/record-bundle.js') }}
{% endblock %}

{% set themeConfig = config.get('theme/layout/sections/record') %}
{% set isParalax = themeConfig.is_paralax|default(false) %}
{% set excludedFieldsMandatory = ['seo', 'teaser', 'header_title', 'header_content', 'title', 'template', 'sections',] %}

{% block document %}
	{% set htmlClass = themeConfig.is_navbar_animated|default == false ? "has-navbar-fixed-top" %}

	{{ parent() }}
{% endblock %}

{% block navbar %}
	{% 
		include "twig/_navbar.twig" with { 
			isAnimated: themeConfig.is_navbar_animated,
            isFixed: themeConfig.is_navbar_fixed,
			navbarClassSuffix: themeConfig.navbar_alignment,
		}	
	%}
{% endblock %}

{% block content %}
	{% if record is defined %}

        {% set ef = excludedFields|default([])|merge(excludedFieldsMandatory) %}

        {% block record_edit %}
            {% include "twig/partials/_record_edit.twig" %}
        {% endblock %}

        <article>
            {% block body %}
                {% block record_header %}
                    {% include "twig/partials/_record_header.twig" with { extraClass: themeConfig.header_extra_class} %}
                {% endblock %}

                {% block record_body %}
                    {%- set recordContent -%}
                        {% apply spaceless %}
                            {% block fields %}
                                {% with { 'record': record, exclude: ef } %}
                                {{ block('sub_fields', 'twig/partials/_sub_blocks_field.twig') }}
                                {% endwith %}
                            {% endblock %}
                        {% endapply %}
                    {%- endset -%}
                    
                    {% if recordContent is not empty %}
                        {% set recordExtraClass = config.get("theme/layout/class/record")|default %}
                        <section class="section shpr-section {{ recordExtraClass }}">
                            <div class="container">
                                {% block record_body_content %}
                                    <div class="content">
                                        {{ recordContent }}
                                    </div>
                                {% endblock %}
                            </div>
                        </section>
                    {% endif %}
                {% endblock %}
                {% block record_footer %}
                    {# Could be extended  #}
                {% endblock %}
            {% endblock %}
        </article>
	{% endif %}

    {% block recent %}
        {# To be extended #}
    {% endblock %}

	{# Standard SECTIONS #}
	{% block sections %}
        {{ m.sectionsByRecord(record, isParalax) }}
	{% endblock %}

{% endblock %}
