{% extends 'twig/partials/_master.twig' %}
{% import "twig/partials/_macros.twig" as m %}

{% set headerBlockClass = "hero shpr-lazy-background is-header " ~ theme.layout.class.header_record|default("is-primary") %}

{% block stylesheet %}
    {# Defer loading of non-critical styles #}
    {{ m.stylesheet('dist/css/record-bundle.css') }}
{% endblock %}

{% block scripts %}
    {{ m.script('dist/js/record-bundle.js') }}
{% endblock %}


{% block content %}
	{% if record is defined %}
        <article>
            {% block header %}
                {{ m.headerByRecord(record) }}
            {% endblock %}

            {% block body %}
                <section class="section shpr-section is-medium">
                    <div class="container content">
                        {# Output all fields, in the order as defined in the contenttype.
                        To change the generated html and configure the options, see:
                        https://docs.bolt.cm/templating #}
                        {% with { 'record': record, 'extended': true, 'repeaters': true, 'blocks': true } %}
                        {{ block('sub_fields', 'helpers/_fields.twig') }}
                        {% endwith %}

                        {% block record_footer %}
                            {{ include('twig/partials/_recordfooter.twig', { 'record': record, 'extended': true }) }}
                        {% endblock %}
                    </div>
                </section>
            {% endblock %}
        </article>
	{% endif %}

	{# Standard SECTIONS #}
	{% block sections %}
        {{ m.sectionsByRecord(record, false) }}
		{{ m.sectionsByGroup("record") }}
	{% endblock %}

    {# {% block recent %}
	    {% include "twig/partials/_sub_recent_records.twig" %} 
    {% endblock %} #}

{% endblock content %}
