{% extends 'twig/partials/_master.twig' %}
{% import "twig/partials/_macros.twig" as m %}

{% set headerBlockClass = "hero is-header " ~ theme.layout.class.header_record|default("is-primary") %}

{% block stylesheet %}
    {# Defer loading of non-critical styles #}
    {{ m.stylesheet('dist/css/record-bundle.css') }}
{% endblock %}

{% block scripts %}
    {{ m.script('dist/js/record-bundle.js') }}
{% endblock %}


{% block content %}
	{% if record is defined %}
        <article>
            {% block header %}
                {{ m.headerByRecord(record, headerBlockClass) }}
            {% endblock %}

            {% block body %}
                {% set recordExtraClass = config.get("theme/layout/class/record")|default %}
                <section class="section shpr-section {{ recordExtraClass }}">
                    <div class="container content">
                        
                        {% with { 'record': record, 'extended': true, 'repeaters': true, 'blocks': true } %}
                        {{ block('sub_fields', 'twig/partials/_sub_field_blocks.twig') }}
                        {% endwith %}

                    </div>
                    {% block record_footer %}
                        <div class="container">
                            {{ include('twig/partials/_recordfooter.twig', { 'record': record, 'extended': true }) }}
                        </div>
                    {% endblock %}
                </section>
            {% endblock %}
        </article>
	{% endif %}

	{# Standard SECTIONS #}
	{% block sections %}
        {{ m.sectionsByRecord(record) }}
		{{ m.sectionsByGroup("record") }}
	{% endblock %}

    {# {% block recent %}
	    {% include "twig/partials/_sub_recent_records.twig" %} 
    {% endblock %} #}

{% endblock content %}
