{% extends 'twig/_listing.twig' %}

{% block header %}

    <h1 class="title is-3">{{ __('Search results') }}</h1>

    <div class="content">
        {% include "twig/partials/_sub_search_form.twig" %}
    </div>

{% endblock %}

{% block list_item %}
    <div class="media-content column is-12">
        <div class="content">
            <h2 class="title is-5 no-link-color">
                <a href="{{ record.link }}">{{ record.title }}</a>
            </h2>

            {# display something introduction-like.. #}
            {% if record.teaser %}
                {{ record.teaser }}
            {% else %}
                <p>{{ record.excerpt(300, false, search|default('')) }}</p>
            {% endif %}

            {% include 'twig/partials/_record_meta.twig' with {'extended': true} %}

        </div>
    </div>
{% endblock %}