{% extends "twig/contentblock/listings/_sub_listing.twig" %}
{% import "twig/partials/_macros.twig" as m %}

{% block contentlink_block %}

	{% set authors = section|related("people")|default([]) %}
	{% set listClass = 'columns is-multiline' %}
	{% set columnClassWithProfile = 'column is-full' %}
	{% set columnClassWithoutProfile = 'column is-half is-offset-one-quarter' %}

	{% set columnClass = authors is empty ? columnClassWithoutProfile : columnClassWithProfile %}

    {% if authors is not empty %}
    
	<div class="columns">
		<div class="column is-one-third">
			{% for author in authors %}
				<div class="card feed-profile-card">
					<div class="card-content">
						<figure class="image is-square mx-6 mb-4">
							{{ m.lazyImage(author.image, 'square', 'is-rounded') }}
						</figure>

						<div class="media-content has-text-centered is-size-7">
							<p class="title is-4">{{ author.name }}</p>
							<p class="subtitle is-6">{{ author.email }}</p>
							<p class="content">
								{{ author.content }}
							</p>
						</div>
					</div>
                    {% if author.contentlink|default is not empty %}
                        <div class="card-footer">
                            <a href="{{ author.contentlink }}" target="_blank" class="card-footer-item">
                                <span class="icon"><i class="fab fa-linkedin"></i> </span>
                                <span>{{ __("View profile") }}</span>
                            </a>
                        </div>
                    {% endif %}
				</div>
			{% endfor %}
		</div>
		<div class="column">
			{{ parent() }}
		</div>

        {% else %}
            
            {{ parent() }}

        {% endif %}
	</div>
{% endblock %}
